*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: lightsalmon;
}

h1 {
  font-family: 'roboto';
  font-weight: 300;
  text-align: center;
  color: white;
}

main {
  background-color: rgb(58, 105, 58);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  align-items: center;
}

section {
  background-color: rgb(104, 45, 45);
  height: 200px;
  width: 200px;
}