@charset "UTF-8"; /* regra para permitir acentuação */

body{
  background-color: lightgoldenrodyellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1{
  color: maroon;
  background-color: goldenrod;
}

h2{
  color: darkred;
}

p{
  text-align: justify;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}