.container {
  background-color: lightsalmon;
  display: flex;
  flex-direction:row-reverse;

}

.item {
  background-color: lightblue;
  border: 1px solid grey;
  text-align: center;
  padding: 10px;  
}